openapi: 3.1.0
info:
  title: Fermyon Cloud accounts key-value-pairs API
  version: '1.0'
  description: OpenAPI 3.1 specification for the Fermyon Cloud REST API, derived from the public swagger.json published in the fermyon/cloud-openapi repository on GitHub.
servers:
- url: https://cloud.fermyon.com
  description: Fermyon Cloud production API
security:
- Bearer: []
tags:
- name: key-value-pairs
paths:
  /api/key-value-pairs:
    post:
      tags:
      - key-value-pairs
      parameters:
      - name: Api-Version
        in: header
        description: The requested API version
        schema:
          type: string
          default: '1.0'
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateKeyValuePairCommand'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateKeyValuePairCommand'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateKeyValuePairCommand'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateKeyValuePairCommand'
        required: true
      responses:
        '200':
          description: Success
components:
  schemas:
    CreateKeyValuePairCommand:
      required:
      - key
      - value
      type: object
      properties:
        appId:
          type: string
          format: uuid
        storeName:
          type: string
        key:
          minLength: 1
          type: string
        value:
          minLength: 1
          type: string
        label:
          type: string
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: 'JWT Authorization header using the Bearer scheme. Example: "Authorization: Bearer {token}"'
      name: Authorization
      in: header
