openapi: 3.1.0
info:
  title: Fermyon Cloud accounts custom-domains API
  version: '1.0'
  description: OpenAPI 3.1 specification for the Fermyon Cloud REST API, derived from the public swagger.json published in the fermyon/cloud-openapi repository on GitHub.
servers:
- url: https://cloud.fermyon.com
  description: Fermyon Cloud production API
security:
- Bearer: []
tags:
- name: custom-domains
paths:
  /api/custom-domains/{domainName}:
    get:
      tags:
      - custom-domains
      parameters:
      - name: domainName
        in: path
        required: true
        schema:
          type: string
      - name: Api-Version
        in: header
        description: The requested API version
        schema:
          type: string
          default: '1.0'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/DomainItem'
            application/json:
              schema:
                $ref: '#/components/schemas/DomainItem'
            text/json:
              schema:
                $ref: '#/components/schemas/DomainItem'
components:
  schemas:
    DnsRecord:
      required:
      - name
      - ttl
      - type
      - value
      type: object
      properties:
        type:
          minLength: 1
          type: string
        name:
          minLength: 1
          type: string
        value:
          minLength: 1
          type: string
        ttl:
          type: integer
          format: int32
      additionalProperties: false
    DomainItem:
      required:
      - dnsRecords
      - name
      - validationStatus
      type: object
      properties:
        name:
          minLength: 1
          type: string
        validationStatus:
          minLength: 1
          type: string
        validatedAt:
          type: string
          format: date-time
          nullable: true
        lastModified:
          type: string
          format: date-time
        dnsRecords:
          type: array
          items:
            $ref: '#/components/schemas/DnsRecord'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: 'JWT Authorization header using the Bearer scheme. Example: "Authorization: Bearer {token}"'
      name: Authorization
      in: header
