openapi: 3.1.0
info:
  title: Fermyon Cloud accounts variable-pairs API
  version: '1.0'
  description: OpenAPI 3.1 specification for the Fermyon Cloud REST API, derived from the public swagger.json published in the fermyon/cloud-openapi repository on GitHub.
servers:
- url: https://cloud.fermyon.com
  description: Fermyon Cloud production API
security:
- Bearer: []
tags:
- name: variable-pairs
paths:
  /api/variable-pairs:
    post:
      tags:
      - variable-pairs
      parameters:
      - name: Api-Version
        in: header
        description: The requested API version
        schema:
          type: string
          default: '1.0'
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateVariablePairCommand'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVariablePairCommand'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateVariablePairCommand'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateVariablePairCommand'
        required: true
      responses:
        '200':
          description: Success
    delete:
      tags:
      - variable-pairs
      parameters:
      - name: Api-Version
        in: header
        description: The requested API version
        schema:
          type: string
          default: '1.0'
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/DeleteVariablePairCommand'
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteVariablePairCommand'
          text/json:
            schema:
              $ref: '#/components/schemas/DeleteVariablePairCommand'
          application/*+json:
            schema:
              $ref: '#/components/schemas/DeleteVariablePairCommand'
        required: true
      responses:
        '200':
          description: Success
    get:
      tags:
      - variable-pairs
      parameters:
      - name: Api-Version
        in: header
        description: The requested API version
        schema:
          type: string
          default: '1.0'
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/GetVariablesQuery'
          application/json:
            schema:
              $ref: '#/components/schemas/GetVariablesQuery'
          text/json:
            schema:
              $ref: '#/components/schemas/GetVariablesQuery'
          application/*+json:
            schema:
              $ref: '#/components/schemas/GetVariablesQuery'
        required: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VariablesList'
            application/json:
              schema:
                $ref: '#/components/schemas/VariablesList'
            text/json:
              schema:
                $ref: '#/components/schemas/VariablesList'
components:
  schemas:
    GetVariablesQuery:
      required:
      - appId
      type: object
      properties:
        appId:
          type: string
          format: uuid
      additionalProperties: false
    DeleteVariablePairCommand:
      required:
      - appId
      - variable
      type: object
      properties:
        appId:
          type: string
          format: uuid
        variable:
          minLength: 1
          type: string
      additionalProperties: false
    CreateVariablePairCommand:
      required:
      - appId
      - value
      - variable
      type: object
      properties:
        appId:
          type: string
          format: uuid
        variable:
          minLength: 1
          type: string
        value:
          minLength: 1
          type: string
      additionalProperties: false
    VariablesList:
      required:
      - vars
      type: object
      properties:
        vars:
          type: array
          items:
            type: string
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: 'JWT Authorization header using the Bearer scheme. Example: "Authorization: Bearer {token}"'
      name: Authorization
      in: header
