openapi: 3.1.0
info:
  title: Fermyon Cloud accounts revisions API
  version: '1.0'
  description: OpenAPI 3.1 specification for the Fermyon Cloud REST API, derived from the public swagger.json published in the fermyon/cloud-openapi repository on GitHub.
servers:
- url: https://cloud.fermyon.com
  description: Fermyon Cloud production API
security:
- Bearer: []
tags:
- name: revisions
paths:
  /api/revisions:
    get:
      tags:
      - revisions
      parameters:
      - name: pageIndex
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
          default: 50
      - name: searchText
        in: query
        schema:
          type: string
          default: ''
      - name: Api-Version
        in: header
        description: The requested API version
        schema:
          type: string
          default: '1.0'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RevisionItemPage'
            application/json:
              schema:
                $ref: '#/components/schemas/RevisionItemPage'
            text/json:
              schema:
                $ref: '#/components/schemas/RevisionItemPage'
    post:
      tags:
      - revisions
      parameters:
      - name: Api-Version
        in: header
        description: The requested API version
        schema:
          type: string
          default: '1.0'
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RegisterRevisionCommand'
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRevisionCommand'
          text/json:
            schema:
              $ref: '#/components/schemas/RegisterRevisionCommand'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RegisterRevisionCommand'
        required: true
      responses:
        '200':
          description: Success
components:
  schemas:
    RevisionComponentDto:
      required:
      - id
      - name
      - source
      type: object
      properties:
        id:
          type: string
          format: uuid
        source:
          minLength: 1
          type: string
        name:
          minLength: 1
          type: string
        route:
          type: string
          nullable: true
        type:
          type: string
          nullable: true
      additionalProperties: false
    RegisterRevisionCommand:
      required:
      - appStorageId
      - revisionNumber
      type: object
      properties:
        appStorageId:
          minLength: 1
          type: string
        revisionNumber:
          minLength: 1
          type: string
      additionalProperties: false
    RevisionItem:
      required:
      - appId
      - components
      - id
      - revisionNumber
      type: object
      properties:
        id:
          type: string
          format: uuid
        appId:
          type: string
          format: uuid
        revisionNumber:
          minLength: 1
          type: string
        components:
          type: array
          items:
            $ref: '#/components/schemas/RevisionComponentDto'
          readOnly: true
        lastModified:
          type: string
          format: date-time
      additionalProperties: false
    RevisionItemPage:
      required:
      - isLastPage
      - items
      - pageIndex
      - pageSize
      - totalItems
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/RevisionItem'
        totalItems:
          type: integer
          format: int32
        pageIndex:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        isLastPage:
          type: boolean
          readOnly: true
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: 'JWT Authorization header using the Bearer scheme. Example: "Authorization: Bearer {token}"'
      name: Authorization
      in: header
