openapi: 3.1.0
info:
  title: Fermyon Cloud accounts personal-access-tokens API
  version: '1.0'
  description: OpenAPI 3.1 specification for the Fermyon Cloud REST API, derived from the public swagger.json published in the fermyon/cloud-openapi repository on GitHub.
servers:
- url: https://cloud.fermyon.com
  description: Fermyon Cloud production API
security:
- Bearer: []
tags:
- name: personal-access-tokens
paths:
  /api/personal-access-tokens:
    post:
      tags:
      - personal-access-tokens
      parameters:
      - name: Api-Version
        in: header
        description: The requested API version
        schema:
          type: string
          default: '1.0'
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreatePersonalAccessTokenCommand'
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePersonalAccessTokenCommand'
          text/json:
            schema:
              $ref: '#/components/schemas/CreatePersonalAccessTokenCommand'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreatePersonalAccessTokenCommand'
        required: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PersonalAccessTokenValue'
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalAccessTokenValue'
            text/json:
              schema:
                $ref: '#/components/schemas/PersonalAccessTokenValue'
    get:
      tags:
      - personal-access-tokens
      parameters:
      - name: searchText
        in: query
        schema:
          type: string
          default: ''
      - name: pageIndex
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
          default: 50
      - name: sortBy
        in: query
        schema:
          type: string
          default: CreatedAt
      - name: isSortedAscending
        in: query
        schema:
          type: boolean
          default: false
      - name: Api-Version
        in: header
        description: The requested API version
        schema:
          type: string
          default: '1.0'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PersonalAccessTokenItemPage'
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalAccessTokenItemPage'
            text/json:
              schema:
                $ref: '#/components/schemas/PersonalAccessTokenItemPage'
  /api/personal-access-tokens/{id}:
    delete:
      tags:
      - personal-access-tokens
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: Api-Version
        in: header
        description: The requested API version
        schema:
          type: string
          default: '1.0'
      responses:
        '200':
          description: Success
components:
  schemas:
    PersonalAccessTokenItemPage:
      required:
      - isLastPage
      - items
      - pageIndex
      - pageSize
      - totalItems
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/PersonalAccessTokenItem'
        totalItems:
          type: integer
          format: int32
        pageIndex:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        isLastPage:
          type: boolean
          readOnly: true
      additionalProperties: false
    PersonalAccessTokenItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        createdAt:
          type: string
          format: date-time
      additionalProperties: false
    PersonalAccessTokenValue:
      type: object
      properties:
        name:
          type: string
        token:
          type: string
        id:
          type: string
          format: uuid
      additionalProperties: false
    CreatePersonalAccessTokenCommand:
      required:
      - name
      type: object
      properties:
        name:
          minLength: 1
          type: string
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: 'JWT Authorization header using the Bearer scheme. Example: "Authorization: Bearer {token}"'
      name: Authorization
      in: header
